<div class="row">
    <div class="col-md-1">
    </div>
    <div class="col-md-8">
        <blockquote>
            {% for line in lines %}
                <p>{{ line }}</p>
            {% endfor %}
        </blockquote>
    </div>
</div>