    <div class="row">
        <div class="col-md-2">
            <h4>{{ scenario.keyword }}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-8">
           <p class="lead"> {{ scenario.title }} </p>
        </div>
    </div>

    {% for step in scenario.steps %}
        {% include 'step.twig' with {'step': step} %}
    {% endfor %}

    {% if scenario.examples %}
        {% include 'table.twig' with {'table': scenario.examples} %}
    {% endif %}